
  

<div class="row featurette text-center" id="principal">
    <div class="col-md-500">
      <h2 class="featurette-heading fw-normal lh-1 m-5">¡Finalmente campeones! <span class="text-muted">Ahora te ofrecemos una oportunidad unica</span></h2>
      <p class= "lead m-5">Sabemos la pasión que sienten los hinchas argentinos por la selección y cuanto costo poder lograr esto con este equipo unico, por eso en la AFA decidimos brindarle una única y especial oportunidad a un hincha. Mediante un sorteo donde la persona ganadora podrá tener el privilegio de conocer a los campeones del mundo QATAR 2022. Solo debes rellenar el formulario con tus datos y un mensaje que exprese las razones por cuales querés conocer a los CAMPEONES DEL MUNDO.</p>
    </div>
 
<!--<div *ngFor=" consultas of consultas">

</div>-->
