<!-- Toolbar -->
<div class="toolbar text-bg-primary p-3" role="banner">
    <img
      width="40"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD4lpRY5uoomcObpzKQW6hh4m5D-0E0EqAcQy0ZEG1&s"
      
    />
    <span> <a routerLink="campeones" class="m-1">CAMPEONES</a></span>
    <span> <a routerLink="home" class="m-3">HOME</a></span>
    <span> <a routerLink="formulario">FORMULARIO</a></span>
      <div class="spacer"></div>
   
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small text-bg-info p-3">
  
  
      <span class="m-1">¡SOMOS CAMPEONES DEL MUNDO!</span>
  
    </div>
  
    