<div class="container text-left m-5">
    <div class="row featurette">
        <div class="col-md-500">
          <h2 class="featurette-heading fw-normal lh-1 m-5">¡Suscribete al sorteo! <span class="text-muted"> Es una oportunidad unica.</span></h2>
          <p class= "lead m-5">Completa tus datos y la fecha que estas disponible para viajar, luego apreta enviar, si los datos han sido validados correctamentes serás redirigido a la página HOME. ¡Mucha suerte!</p>
        </div>
    
       
    
</div>

<section>
    <section class="container" id="consultas">
        <form [formGroup]="consultaForm" (ngSubmit)="realizarConsulta()" class="container">
            <div class="">
                <div class="mb-3 row">
                    <label for="nombre" class="col-sm-2">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="nombre" name="nombre" id="nombre" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" formControlName="email" name="email" id="email" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="whatsapp" class="col-sm-2">Whatsapp:</label>
                    <div class="col-sm-10">
                        <input type="number" formControlName="whatsapp" name="whatsapp" id="whatsapp" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="ingreso" class="col-sm-2">Fecha de Ingreso:</label>
                    <div class="col-sm-10">
                        <input type="date" formControlName="fecha_ingreso" name="fecha_ingreso" id="fecha_ingreso" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="salida" class="col-sm-2">Fecha de Salida:</label>
                    <div class="col-sm-10">
                        <input type="date" formControlName="fecha_salida" name="fecha_salida" id="fecha_salida" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="mensaje" class="col-sm-2">Mensaje:</label>
                    <div class="col-sm-10">
                        <textarea type="text" formControlName="mensaje" name="mensaje" id="mensaje" required></textarea>
                    </div>
                </div>
                <br>
                <button type="submit" class="button btn btn-primary" value="Enviar Datos" id="send">Enviar</button>
            </div>
        </form>


</section>
