
<section >
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 m-5"> Muchachos, ahora nos volvimos a ilusionar.</h2>
        <p class= "lead m-5">En Argentina nací
          Tierra del Diego y Lionel
          De los pibes de Malvinas
          Que jamás olvidaré
          … No te lo puedo explicar
          Porque no vas a entender
          Las finales que perdimos
          Cuantos años la lloré
          … Pero eso se terminó
          Porque en el Maracaná
          La final con los brazucas
          La volvió a ganar papá
          … Muchachos
          Ahora nos volvimos a ilusionar
          Quiero ganar la tercera
          Quiero ser campeón mundial
          … Y al Diego
          Desde el cielo lo podemos ver
          Con Don Diego y La Tota
          Alentándolo a Lionel
          … Muchachos
          Ahora nos volvimos a ilusionar
          Quiero ganar la tercera
          Quiero ser campeón mundial
          … Y al Diego
          Desde el cielo lo podemos ver
          Con Don Diego y La Tota
          Alentándolo a Lionel, y ser campeones otra vez, y ser campeones otra vez</p>
      </div>
      <div class="col-md-5">
        <img src="https://dtvsportsimages.akamaized.net/images/d0dba4c2-d3b2-4c63-add7-d748ba26f421" alt="" srcset="" width="610" height="400" >
        

      </div>
    </div>


  
</section>